body {
    background-image: linear-gradient(to bottom right, white, aquamarine, rgb(11, 143, 33));
}


h1 {
    text-align: center;
    font-family: Verdana, Times New Roman, Tahoma, sans-serif, Verdana, Tahoma;
    font-size: 100px;
    color:aquamarine;
    background-color: black;
    border-radius: 8px;
}
.container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.cobbler, .pudding, .pineapple, .cookies {
    background-color: aquamarine;
    border-radius: 8px;
    padding: 10px;
    margin: 0;
}

